fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
google-generativeai
pinecone
PyPDF2
requests
beautifulsoup4
numpy<2
tqdm
datasets
langchain
sentence-transformers
torch==2.2.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
